<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
	
	
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		
		<div class="text-center font-weight-bold text-white">
			
			<h1>Smart Contact Manager</h1>
			<p>start collecting the your contact in very smart way we provide very efficient and smarter way of handling contacts</p>
				<button type="button" class="btn btn-info">Get Start</button>

			</div>
			
	</section>
</body>
</html>